In [8]:
import pandas as pd
pd.set_option('display.max_columns', None)
tabela = input("Digite o nome do arquivo 1:")
tabela2 = input("Digite o nome do arquivo 2:")
tabela = pd.read_csv("veiculos_p1.csv", encoding="latin1", sep=";") 
tabela2 = pd.read_csv("veiculos.csv", encoding="latin1", sep=";")

display(tabela.info())
display(tabela2.info())

campo = input("Digite o nome do campo das tabelas a serem comparados:")
#display(tabela2)
#tabela3 = pd.read_csv(rif_comunicacoes, encoding="latin1", sep=";")
#tabela4 = tabela3[tabela3.Indexador=='3']
tabela_full = pd.merge(tabela, tabela2, how = 'inner', on = 'Placa')
tabela_full = pd.merge(tabela, tabela2, how = 'inner', on = campo)

display(tabela_full)


#tabela_full.drop(['agenciaEnvolvido', 'contaEnvolvido', 'DataAberturaConta','NomeAgencia', 'NumeroAgencia', 'Data_do_Recebimento','DataAtualizacaoConta','CampoD','CampoE','CodigoSegmento',  'NumeroOcorrenciaBC','cpfCnpjComunicante',  'idComunicacao',  'intServidorCitado', 'bitPepCitado', 'bitPessoaObrigadaCitado'], axis=1, inplace=True)
#nome = input("Digite o nome: ")
#cpf = tabela_full['cpfCnpjEnvolvido']
#tabela_filtro = tabela_full[tabela_full.nomeEnvolvido==nome.upper()]
#pd.set_option('display.max_colwidth', None)
#display(tabela_filtro)
#display(tabela_filtro['informacoesAdicionais'])

Digite o nome do arquivo 1:ksankd
Digite o nome do arquivo 2:kjdkjsa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Placa                54 non-null     object
 1   MarcaModelo          53 non-null     object
 2   AnoModelo            53 non-null     float64
 3   Cor                  53 non-null     object
 4   MunicioEmplacamento  53 non-null     object
 5   UfEmplacamento       53 non-null     object
 6   DataHoraPassagem     54 non-null     object
 7   Local                54 non-null     object
 8   Situacao             54 non-null     object
dtypes: float64(1), object(8)
memory usage: 3.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Placa                444 non-null    object
 1   MarcaModelo          434 non-null    object
 2   AnoModelo            434 non-null    float64
 3   Cor                  434 non-null    object
 4   MunicioEmplacamento  434 non-null    object
 5   UfEmplacamento       434 non-null    object
 6   DataHoraPassagem     444 non-null    object
 7   Local                444 non-null    object
 8   Situacao             444 non-null    object
dtypes: float64(1), object(8)
memory usage: 31.3+ KB

None

Digite o nome do campo das tabelas a serem comparados:Placa

,Placa,MarcaModelo_x,AnoModelo_x,Cor_x,MunicioEmplacamento_x,UfEmplacamento_x,DataHoraPassagem_x,Local_x,Situacao_x,MarcaModelo_y,AnoModelo_y,Cor_y,MunicioEmplacamento_y,UfEmplacamento_y,DataHoraPassagem_y,Local_y,Situacao_y
0,AJS2262,SR/RANDON SR FG,2001.0,LARANJA,CHAPECO,SC,2022-04-27T01:19:04,SC - CORDILHEIRA ALTA - BR-282 KM 534 + 60 - S...,SEM RESTRICAO,SR/RANDON SR FG,2001.0,LARANJA,CHAPECO,SC,2022-04-27T08:20:41,PR - ARAUCARIA - BR-476 KM 156 + 00 - SENT DEC...,SEM RESTRICAO